.container {
    width: 42px;
    height: 24px;
    border: 1.5px solid #2A2D34;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    padding: 2px;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.icon {
    font-size: 15px;
}

.ball {
    width: 15px;
    height: 15px;
    background-color: #7699D4;
    border-radius: 50%;
    position: absolute;
}