.container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: bold;
    font-size: 22px;
}

.links{
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 300;
}

.logout{
    padding: 5px;
    margin-left: 10px;
    color: #F7F9F9;
    border: none;
    background-color: #7699D4;
    border-radius: 3px;
    font-size: medium;
    cursor: pointer;
}

.right {
    display: flex;
    align-items: center;
}